<!doctype html>
<html>
<head>
    <title>PROFILE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/map" class="btn btn-default btn-sm">Map</a>
    </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
          <h3><span class="fa fa-user"></span> Your Account Details</h3>
          <br>

          <p>User ID: <%= id %></p>
          <p>Username: <%= username %></p>
          <p>E-mail: <%= email %></p>
          <p>First Name: <%= first_name %></p>
          <p>Last Name: <%= last_name %></p>


      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
          <h3><span class="fa fa-user"></span> Your Lists</h3>
          <br>

          <p>List 1: <%= lists[0] %></p>
          <p>List 2: <%= lists[1] %></p>
          <p>List 3: <%= lists[2] %></p>
          <p>List 4: <%= lists[3] %></p>

      </div>
    </div>
  </div>

</div>
</body>
</html>
